
<%- include ../header.ejs %>



<div id="signup-modal">

   <div id="image"></div>

  <form id="modal-content" action="/store/orders" method="post">
    <div id="signup-container">
      <img id="weathertechimage" src="../../public/assets/images/weathertech_logo.JPG" alt="WeatherTech Cafe">
      <h2>PLACE ORDER</h2>

      <% if (messages.error) { %>
          <p style="color:red"><%- messages.error %></p>
      <% } %>

      <% if (messages.success) { %>
          <p style="color:green"><%- messages.success %></p>
      <% } %>

      <p>Please fill in this form to place an order.</p>
      <hr>
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Identikey" name="UserId" required>

      <label for="food"><b>Enter Food Item Number</b></label>
      <input type="text" placeholder="#" name="FoodName" required>

      <label for="phone_num"><b>Phone</b></label>
      <input type="Phone" placeholder="(xxx)-xxx-xxx" name="phone_num" required>

      <div id="clearfix">
        
        <button type="submit" id="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>