<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>WeatherTech Cafe!</title>


   <link rel="stylesheet" href="../styles/style.css" type="text/css"/> 
   <link rel="stylesheet" href="../styles/login.css" type="text/css"/> 
   <link rel="stylesheet" href="../styles/SignUp.css" type="text/css"/> 

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   <link rel="stylesheet" href="css/bootstrap.css">
   <link rel="stylesheet" href="css/bootstrap-responsive.css">

   <script src="../js/signup-modal.js"></script>
</head>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

</style>
<body>

<header id="pageHeader">
  <a class="main-logo" class="header-item" href="index.php">
    <img src="../images/weathertech-1.gif">
  </a>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul>
      <li><a href="sandwiches.html">Sandwiches</a></li>
      <li><a href="pizzas.html">Pizzas/Calzones</a></li>
    </ul> 
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span>Menu<i class="material-icons">expand_more</i></span>
  </label>
  
  <!-- <button id="login" class="header-item" onclick="document.getElementById('signup-modal').style.display='block'" style="width:auto;">Sign Up</button> -->
  <div class="welcome-banner">
    <div class="welcome-banner-container">
      <div class="welcome-message">
        Welcome<span>to WeatherTech Cafe</span>!
      </div>
      <div class="li-su-btn-container">
         <div class="login">
          <button id="login" class="header-item" onclick="">Sign In</button>
        </div>
        <div class="signup-modal">
          <span> | </span>
          <button id="signup" class="header-item" onclick="document.getElementById('signup-modal').style.display='block'">Create An Account</button>
        </div> 
      </div>
    </div>
  </div>
</header>

<div class="food-labels">
  <a href="#" ><span id="sandwich-label">SANDWICHES<i class="material-icons">&#xe5cc;</i></span></a>
  <a href="#"><span id="pizza-label">PIZZAS<i class="material-icons">&#xe5cc;</i></span></a>
</div>

<section class="index-main">
  <div class="food-container">
    <div id="sandwich1" class="food-item">
      <p class="item-name">Sandwich1</p>
    </div>
    <div id="sandwich2" class="food-item">
      <p class="item-name">Sandwich2</p>
    </div>
    <div id="sandwich3" class="food-item">
      <p class="item-name">Sandwich3</p>
    </div>
    <div id="sandwich4" class="food-item">
      <p class="item-name">Sandwich4</p>
    </div>
    <div id="sandwich5" class="food-item">
      <p class="item-name">Sandwich5</p>
    </div>
    <div id="sandwich6" class="food-item">
      <p class="item-name">Sandwich6</p>
    </div>
  </div>
  <div class="food-container">
    <div id="pizza1" class="food-item">
      <p class="item-name">Pizza1</p>
    </div>
    <div id="pizza2" class="food-item">
      <p class="item-name">Pizza2</p>
    </div>
    <div id="pizza3" class="food-item">
      <p class="item-name">Pizza3</p>
    </div>
    <div id="pizza4" class="food-item">
      <p class="item-name">Pizza4</p>
    </div>
    <div id="pizza5" class="food-item">
      <p class="item-name">Pizza5</p>
    </div>
    <div id="pizza6" class="food-item">
      <p class="item-name">Pizza6</p>
    </div>
  </div>
</section>



<!--<div id="signup-modal" class="modal">
  <span onclick="document.getElementById('signup-modal').style.display='none'" class="close" title="Close Modal">&times;</span>

   <div class="image"></div>

  <form class="modal-content" action="../routes/loginBackend/add" method="post">
    <div class="container">
    	<img id="weathertechimage" src="../images/weathertech_logo.JPG" alt="WeatherTech Cafe">
      <h2>CREATE ACCOUNT</h2>

      <h4>Acount Information</h4>

      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw-repeat"><b>Confirm Password</b></label>
      <input type="password" placeholder="Confirm Password" name="psw-repeat" required>


      <h4>Your Information</h4>
      <label for="name"><b>First Name</b></label>
      <input type="text" placeholder="Kaylee" name="name" required>

      <label for="last_name"><b>Last Name</b></label>
      <input type="text" placeholder="Ros" name="last_name" required>

      <label for="phone_num"><b>Phone</b></label>
      <input type="Phone" placeholder="(xxx)-xxx-xxx" name="phone_num" required>
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
        
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div> -->

<footer>
  <div class="footer-menu">
    <span>Menu</span>
    <ul>
      <li><a href="#">Sandwiches</a></li>
      <li><a href="#">Pizzas</a></li>
      <li><a href="#">Calzones</a></li>
      <li><a href="#">Vegetarian</a></li>
    </ul>
  </div>
  <div class="footer-menu">
    <span>Customer Service</span>
    <ul>    
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <div class="footer-menu">
    <span>My Account</span>
    <ul>
      <li><a href="#">Create an Account</a></li>
      <li><a href="#">Sign In</a></li>
    </ul>
  </div>
</footer>

</body>
</html>