<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>WeatherTech Cafe!</title>


   <link rel="stylesheet" href="../styles/style.css" type="text/css"/> 

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   <link rel="stylesheet" href="css/bootstrap.css">
   <link rel="stylesheet" href="css/bootstrap-responsive.css">

   <script src="../js/signup-modal.js"></script>
</head>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

</style>
<body>

<header id="pageHeader">
  <a class="main-logo" class="header-item" href="index.php">
    <img src="../images/weathertech-1.gif">
  </a>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul>
      <li><a href="#">Sandwiches</a></li>
      <li><a href="#">Pizzas/Calzones</a></li>
    </ul> 
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span>Menu<i class="material-icons">expand_more</i></span>
  </label>
  
  <!-- <button id="login" class="header-item" onclick="document.getElementById('signup-modal').style.display='block'" style="width:auto;">Sign Up</button> -->
  <div class="welcome-banner">
    <div class="welcome-banner-container">
      <div class="welcome-message">
        Welcome<span>to WeatherTech Cafe</span>!
      </div>
      <div class="li-su-btn-container">
         <div class="login">
          <button id="login" class="header-item" onclick="">Sign In</button>
        </div>
        <div class="signup">
          <span> | </span>
          <button id="signup" class="header-item" onclick="document.getElementById('signup-modal').style.display='block'">Create An Account</button>
        </div> 
      </div>
    </div>
  </div>
</header>



